{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block header %}Holly Kipouros{% endblock header %}
{% block content %} 
<h2>Graduate Student in Data Science at Johns Hopkins University</h2>
<p><img src= {{url_for("static", filename="ID_photo_hkipouros.jpg")}} alt="ID_photo" width="231" height="300" style="float:right">I hold a B.S. in Chemical Engineering from the University of Virginia and am currently pursuing graduate studes in Data Science at Johns Hopkins University. I have over 10 years of experience in intellectual property law, particularly patent examination and prosecution in the field of biotechnology.
<br>When I am not writing code, I can be found watching Formula 1 racing, training in the ballet studio, and browsing the sci-fi section of my local bookshop.
</p>
{% endblock content %}
