{% extends "base.html" %}

{% block title %}Projects{% endblock title %}
{% block header %}Projects{% endblock header %}
{% block content %}
<h2>Module 1: Personal Website</h2>
<p>
This project covers construction of my personal website, which was developed in Python using Flask. A Flask blueprint was used to control the pages of the website. I created a base HTML template which was invoked for each page, and used CSS to style the output.<br>
<a href="https://github.com/HKipouros/jhu_software_concepts/tree/main/Module%201">Module 1 on GitHub</a>
</p>
{% endblock content %}
